.ant-dropdown-link{

}
.ReactVirtualized__List{
    padding: 0 !important;
}
.antd-pro-components-notice-icon-notice-list-list {
    max-height: 400px;
    overflow: auto;
}
.drop_content{
    padding:0 16px 0 16px;
}
.ant-dropdown-menu-items{
    padding:0 16px 0 16px;
}
.ant-dropdown-placement-bottomCenter{
    width: 400px;
}
.ant-dropdown-menu-items {
    max-height: 400px;
    overflow-y:auto;
}